
# Ігнорування папок та файлів віртуального середовища
venv/
.venv/

# Ігнорування байт-коду Python
__pycache__/
*.py[cod]

# Логи та файли відладки
*.log
*.sqlite3

# Налаштування IDE/редактора
.idea/
*.vscode/

# Файли системи
.DS_Store
Thumbs.db

# Файли та каталоги, які створює система тестування
coverage/
.tox/
nosetests.xml
test-results/

# Інші тимчасові файли
*.tmp
*.swp
*.bak

*.png
*.jpg
*.jpeg
*.gif
